.autocomplete-wrapper {
  flex: 1 1 auto;

  &:first-child .autocomplete-results {
    bottom: 0;
  }

  + .autocomplete-wrapper {
    border-top: 1px solid $blue;

    .autocomplete-results {
      top: 0;
    }
  }
}

.autocomplete-results {
  background: $blue;
  border-radius: $radius-sm;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 10;
}

.autocomplete-result {
  color: $white;
  cursor: pointer;
  padding: $xs $md;
  text-align: center;

  &:first-child {
    border-radius: $radius-sm $radius-sm 0 0;
    padding-top: $md;
  }

  &:last-child {
    border-radius: 0 0 $radius-sm $radius-sm;
    padding-bottom: $md;
  }

  &:hover,
  &:active,
  &:focus {
    color: $yellow;
    text-decoration: underline;
  }
}
