.button {
  align-items: center;
  background: $white;
  border: 1px solid $blue;
  box-shadow: 0 3px 0 $blue;
  border-radius: 3px;
  color: $blue;
  cursor: pointer;
  display: inline-flex;
  font-weight: $weight-bold;
  height: $lg;
  padding: 0 $md;
  position: relative;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    background: $yellow;
  }

  &:focus {
    outline: none;
  }

  .svg {
    height: 100%;
    width: $md;
  }

  .path {
    fill: currentColor;
    stroke: none;
  }
}
