.button {
  align-items: center;
  background: $white;
  border: 0;
  border-radius: $radius-sm;
  color: $blue;
  cursor: pointer;
  display: inline-flex;
  font-weight: $weight-bold;
  height: $lg;
  overflow: hidden;
  padding: 0 $sm;
  position: relative;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
  }

  &:focus {
    outline: none;
  }

  &.outline {
    background: transparent;
    border: 1px solid $white;
    color: $white;
  }

  .svg {
    height: 100%;
    width: $md;
  }

  .path {
    fill: currentColor;
    stroke: none;
  }
}
