// initial styles
input,
textarea {
  border: 0;
  background-clip: padding-box;
  cursor: text;

  &[disabled] {
    cursor: not-allowed;
  }
}

input {
  outline: 0;

  // remove box-shadow for these states
  &[type="checkbox"],
  &[type="radio"] {
    box-shadow: none;
  }

  // appear as checkbox
  &[type="checkbox"] {
    -webkit-appearance: checkbox;
    cursor: pointer;
  }
}


// defaults
.input,
.textarea {
  background: $white;
  border: $input-border solid $blue;
  border-radius: $radius-sm;
  color: $blue;
  font-weight: $weight-bold;
  padding: 0 $md;
  resize: none;
  text-transform: uppercase;
  width: 100%;
  word-break: normal;

  &:focus {
    background: $yellow;
    transition: none;

    &::placeholder {
      color: rgba($blue,.25);
    }
  }

  // readonly
  &[readonly] {
    background: $gray-light;
    border: 0;
    color: $gray-lighter;
    cursor: default;
  }

  // remove box-shadow for these states
  &[readonly]:focus,
  &[required] {
    box-shadow: none;
  }

  // monospace
  &.monospace {
    letter-spacing: -.25px;
  }

  // placeholder
  &::placeholder {
    color: $blue;
  }
}

// sizes
.input {
  height: $xl;
  line-height: $xl - ($input-border * 2);

  &[type="search"] {
    border-radius: $xl;
    min-height: $xl; // safari

    // reset so padding is consistent across browsers
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }
  }
}
