.results {
  padding: $sm $md;

  .button {
    margin-top: $md;
  }
}

.result {
  color: transparent;
  fill: url(#fire);
  font-size: 50px;
  position: relative;
  text-align: center;
  width: 100%;
}
