.Explainer {
  line-height: 1.4;

  &-heading {
    align-items: center;
    color: var(--theme-text-minimum);
    cursor: pointer;
    display: flex;
    font-size: 13px;
    font-weight: var(--weight-normal);
    gap: var(--xs);
    margin-bottom: var(--xs);
    transform: translateX(-17px);
  }

  &-chevron {
    opacity: 0.5;
  }

  &-text {
    font-family: var(--garamond);
    font-size: 16px;
  }

  &-table {
    border-collapse: collapse;
    border-spacing: 0;
    color: var(--theme-text-default);
    font-size: 80%; // same as small
    margin-bottom: var(--sm);
    margin-top: var(--sm);
    text-align: left;

    th,
    td {
      padding-right: var(--sm);
    }
  }

  &-cite {
    color: var(--theme-text-minimum);
  }
}
