.Averages {
  --Averages-meter-bg: #{rgba(black, 0.1)};

  @media (prefers-color-scheme: dark) {
    --Averages-meter-bg: #{rgba(white, 0.1)};
  }

  padding: var(--lg);

  &-title {
    color: var(--theme-text-default);
    font-family: var(--garamond);
    font-weight: var(--weight-bold);
    font-size: 18px;
    letter-spacing: -0.025rem;
  }

  &-meter {
    background: var(--Averages-meter-bg);
    height: 10px;
    position: relative;
    width: 100%;

    &-progress {
      background: rgba(red, 0.5);
      height: 100%;
      left: 0;
      max-width: 100%;
      position: absolute;
      top: 0;
      transition: width 1s var(--timing);
    }

    &-compare {
      height: 100%;
      position: absolute;
      width: 1px;
    }
  }

  &-tooltip {
    border-right: 1px solid var(--theme-border);
    bottom: 0;
    color: var(--theme-text-default);
    font-size: 11px;
    padding-right: 5px;
    padding-bottom: 15px;
    position: absolute;
    right: 0;
    white-space: nowrap;

    &_flip {
      border-left: 1px solid var(--theme-border);
      border-right: 0;
      left: 100%;
      right: auto;
      padding-left: 5px;
      padding-right: 0;
    }

    &_you {
      bottom: auto;
      padding-bottom: 0;
      padding-top: 15px;
      top: 0;
    }
  }
}
